consumes:
- application/json
definitions:
  Dummy:
    type: object
host: magic-github-proxy.endpoints.${project_id}.cloud.goog
info:
  description: Google Cloud Endpoints for Magic GitHub Proxy.
  title: Magic GitHub Proxy Services API (TYPE)
  version: 1.0.0
paths:
  /*:
    delete:
      operationId: 1:delete
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    get:
      operationId: 1:get
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    head:
      operationId: 1:head
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    patch:
      operationId: 1:patch
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    post:
      operationId: 1:post
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    put:
      operationId: 1:put
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
  /*/*:
    delete:
      operationId: 2:delete
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    get:
      operationId: 2:get
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    head:
      operationId: 2:head
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    patch:
      operationId: 2:patch
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    post:
      operationId: 2:post
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    put:
      operationId: 2:put
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
  /*/*/*:
    delete:
      operationId: 3:delete
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    get:
      operationId: 3:get
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    head:
      operationId: 3:head
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    patch:
      operationId: 3:patch
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    post:
      operationId: 3:post
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    put:
      operationId: 3:put
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
  /*/*/*/*:
    delete:
      operationId: 4:delete
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    get:
      operationId: 4:get
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    head:
      operationId: 4:head
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    patch:
      operationId: 4:patch
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    post:
      operationId: 4:post
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    put:
      operationId: 4:put
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
  /*/*/*/*/*:
    delete:
      operationId: 5:delete
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    get:
      operationId: 5:get
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    head:
      operationId: 5:head
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    patch:
      operationId: 5:patch
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    post:
      operationId: 5:post
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    put:
      operationId: 5:put
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
  /*/*/*/*/*/*:
    delete:
      operationId: 6:delete
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    get:
      operationId: 6:get
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    head:
      operationId: 6:head
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    patch:
      operationId: 6:patch
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    post:
      operationId: 6:post
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    put:
      operationId: 6:put
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
  /*/*/*/*/*/*/*:
    delete:
      operationId: 7:delete
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    get:
      operationId: 7:get
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    head:
      operationId: 7:head
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    patch:
      operationId: 7:patch
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    post:
      operationId: 7:post
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    put:
      operationId: 7:put
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
  /*/*/*/*/*/*/*/*:
    delete:
      operationId: 8:delete
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    get:
      operationId: 8:get
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    head:
      operationId: 8:head
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    patch:
      operationId: 8:patch
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    post:
      operationId: 8:post
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    put:
      operationId: 8:put
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
  /*/*/*/*/*/*/*/*/*:
    delete:
      operationId: 9:delete
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    get:
      operationId: 9:get
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    head:
      operationId: 9:head
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    patch:
      operationId: 9:patch
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    post:
      operationId: 9:post
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    put:
      operationId: 9:put
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
  /*/*/*/*/*/*/*/*/*/*:
    delete:
      operationId: 10:delete
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    get:
      operationId: 10:get
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    head:
      operationId: 10:head
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    patch:
      operationId: 10:patch
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    post:
      operationId: 10:post
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    put:
      operationId: 10:put
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
  /*/*/*/*/*/*/*/*/*/*/*:
    delete:
      operationId: 11:delete
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    get:
      operationId: 11:get
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    head:
      operationId: 11:head
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    patch:
      operationId: 11:patch
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    post:
      operationId: 11:post
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    put:
      operationId: 11:put
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
  /*/*/*/*/*/*/*/*/*/*/*/*:
    delete:
      operationId: 12:delete
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    get:
      operationId: 12:get
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    head:
      operationId: 12:head
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    patch:
      operationId: 12:patch
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    post:
      operationId: 12:post
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    put:
      operationId: 12:put
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
  /*/*/*/*/*/*/*/*/*/*/*/*/*:
    delete:
      operationId: 13:delete
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    get:
      operationId: 13:get
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    head:
      operationId: 13:head
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    patch:
      operationId: 13:patch
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    post:
      operationId: 13:post
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    put:
      operationId: 13:put
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
  /*/*/*/*/*/*/*/*/*/*/*/*/*/*:
    delete:
      operationId: 14:delete
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    get:
      operationId: 14:get
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    head:
      operationId: 14:head
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    patch:
      operationId: 14:patch
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    post:
      operationId: 14:post
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    put:
      operationId: 14:put
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
  /*/*/*/*/*/*/*/*/*/*/*/*/*/*/*:
    delete:
      operationId: 15:delete
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    get:
      operationId: 15:get
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    head:
      operationId: 15:head
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    patch:
      operationId: 15:patch
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    post:
      operationId: 15:post
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
    put:
      operationId: 15:put
      produces:
      - application/json
      responses:
        '200':
          description: A proxy response from GitHub
      security:
      - api_key: []
  /magictoken:
    post:
      description: Creates a magic token with provided scopes.
      operationId: createToken
      produces:
      - application/json
      responses:
        200:
          description: Creates a magic token.
      security:
      - api_key: []
produces:
- application/json
schemes:
- http
securityDefinitions:
  api_key:
    in: query
    name: key
    type: apiKey
swagger: '2.0'
x-google-endpoints:
- name: magic-github-proxy.endpoints.${project_id}.cloud.goog
  target: ${ip_addr}

